.button {
  background-color: var(--secondary-color);
  border-radius: 4px;
  padding: 11px 16px;
  display: inline-flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: none;
  --btn-hover-color: #ffd84d;
}

.button:active {
  background-color: var(--secondary-color) !important;
}

.button:hover {
  background-color: var(--btn-hover-color);
}
