:root {
  --border-color: #cdcdcd;
  --text-color: #000;
  --primary-color: #fff;
  --secondary-color: #ffce22;
}

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
}

.app {
  height: 100dvh;
  width: 100dvw;
  padding-top: 85px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
